Repository tdemin/gmnhg, pull requests merged in 2021-09, with the labels that each got.

#25 Implement a generic links extractor
  internal/gemini/renderer.go
Labels: enhancement, renderer

#30 Parse front matter in YAML/TOML/JSON/org-mode
  cmd/gmnhg/main.go
  cmd/md2gmn/main.go
  go.mod
  go.sum
  internal/gmnhg/org.go
  internal/gmnhg/post.go
  internal/renderer/renderer.go
  render.go
Labels: enhancement, major, gmnhg, md2gmn, renderer

#31 Update templates.go to use new metadata
  cmd/gmnhg/templates.go
Labels: bug, gmnhg

#35 Clean up templates and unify template metadata
  cmd/gmnhg/main.go
  cmd/gmnhg/templates.go
Labels: enhancement, gmnhg

#38 Add a test suite
  README.md
  go.mod
  go.sum
  internal/gmnhg/org.go
  internal/gmnhg/post.go
  render_test.go
  testdata/front_matter_json.gmi
  testdata/front_matter_json.md
  testdata/front_matter_org.gmi
  testdata/front_matter_org.md
  testdata/front_matter_toml.gmi
  testdata/front_matter_toml.md
  testdata/front_matter_yaml.gmi
  testdata/front_matter_yaml.md
  testdata/general_text.gmi
  testdata/general_text.md
  testdata/links.gmi
  testdata/links.md
  testdata/lists.gmi
  testdata/lists.md
  testdata/tables.gmi
  testdata/tables.md
Labels: enhancement, renderer
